<html
    data-namespace-typo3-fluid="true"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>
<f:for each="{question.optionsDecoded}" as="option" key="index">
    <div class="mai-survey-question__option">
        <label class="mai-survey-question__label">
            <input
                type="checkbox"
                class="mai-survey-question__input"
                name="answers[{question.uid}][]"
                value="{option}"
                id="q{question.uid}_opt{index}"
            />
            <span>{option}</span>
        </label>
    </div>
</f:for>
</html>
