<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:layout name="Module" />

<f:section name="Content">
    <div class="module-body">
        <h1>{survey.title}</h1>
        <p>{survey.description}</p>

        <f:if condition="{submissions}">
            <f:then>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>UID</th>
                            <th>Submitted at</th>
                            <th>Frontend user</th>
                            <th>Session hash</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{submissions}" as="submission">
                            <tr>
                                <td>{submission.uid}</td>
                                <td>
                                    <f:if condition="{submission.submittedAt}">
                                        <f:format.date format="Y-m-d H:i:s">{submission.submittedAt}</f:format.date>
                                    </f:if>
                                </td>
                                <td>{submission.feUserUid}</td>
                                <td>{submission.sessionHash}</td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </f:then>
            <f:else>
                <p>No submissions found for this survey.</p>
            </f:else>
        </f:if>
    </div>
</f:section>
</html>
